.wrapper
  = image_tag "yuusya_game.png", class: "show__image"
  .show
    .show__lists
      .show__lists__title
        categorie
      .show__lists__list
        Tシャツ
    .show__lists
      .show__lists__title
        maker
      .show__lists__text
        tetateto
    .show__lists
      .show__lists__title
        size
      .show__lists__text
        90cm
  .show__btns
    .show__btns__left
      Edit
    .show__btns__right
      Delete