// 一覧画面
.wrapper {
  background-color: #e6d4bd;
  height: 750px;
  text-align: center;
  .mypage__title {
    padding: 30px;
    font-size: 30px;
  }
  .list__container {
    display: flex;

    &__left {
      width: 50%;
      border-right: dotted;
      .list__container__title {
        font-size: 30px;
      }
      .list__container__images {
        display: grid;
        gap: 4px;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

        .list__container__image {
          width: 150px;
          height: 150px;
        }
        .list__container__image:hover {
          opacity: 0.5;
        }
      }
    }
    &__right {
      width: 50%;
      .list__container__title {
        font-size: 30px;
      }
      .list__container__images {
        display: grid;
        gap: 4px;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

        .list__container__image {
          width: 150px;
          height: 150px;
        }
        .list__container__image:hover {
          opacity: 0.5;
        }
      }
    }
  }
  .registration__btns {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;

    &__topps {
      border: solid 3px #8a8a8a;
      background-color: #bcf0d0;
      border-radius: 20px;
      height: 50px;
      width: 200px;
      line-height: 50px;
    }
    a {
      margin-top: -30px;
    }
    &__topps:hover {
      font-size: 20px;
      cursor: pointer;
    }
    &__bottoms {
      border: solid 3px #8a8a8a;
      background-color: #bcf0d0;
      border-radius: 20px;
      height: 50px;
      width: 200px;
      line-height: 50px;
    }
    &__bottoms:hover {
      font-size: 20px;
      cursor: pointer;
    }
  }
}

// レスポンシブ対応
@media (max-width: 600px) {
  .wrapper {
    height: 100% !important;
  }
}
