// 投稿ページ
.new__wrapper {
  height: 600px;
  padding-top: 30px;
  background-color: #e6d4bd;
  text-align: center;
  .new__container {
    background-color: ivory;
    height: 80%;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 30px;
    border-radius: 10px;

    .image__registration {
      margin-top: 30px;
    }
    .image__registration:hover {
      font-size: 25px;
      cursor: pointer;
    }
    .registration__title {
      font-size: 30px;
      padding-top: 20px;
    }
    .registration__box {
      width: 30%;
      color: initial;
      font-family: initial;
      text-shadow: initial;
      border-radius: 10px;
      cursor: pointer;
    }
    .registration__btn {
      margin-top: 30px;
      background-color: #bcf0d0;
      border-radius: 10px;
      height: 50px;
      width: 100px;
    }
    .registration__btn:hover {
      font-size: 20px;
      cursor: pointer;
    }
  }
}
