// 商品詳細ページ
.show__wrapper {
  background-color: #e6d4bd;
  height: 750px;
  text-align: center;
  padding-top: 30px;

  .show__container {
    background-color: ivory;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 30px;
    border-radius: 10px;
  }
  .show__image {
    width: 300px;
    height: 300px;
    margin-top: 50px;
  }
  .show {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    font-size: 30px;
  }

  .show__btns {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
    font-size: 30px;
    &__left {
      border: solid 3px #8a8a8a;
      background-color: #bcf0d0;
      border-radius: 20px;
      width: 150px;
      height: 50px;
    }
    a {
      margin-top: -30px;
    }
    &__left:hover {
      font-size: 40px;
      cursor: pointer;
    }
    &__right {
      border: solid 3px #8a8a8a;
      background-color: #bcf0d0;
      border-radius: 20px;
      width: 150px;
      height: 50px;
    }
    &__right:hover {
      font-size: 40px;
      cursor: pointer;
    }
  }
}
