.wrapper
  = image_tag @topp.image.to_s, class: "show__image"
  .show
    .show__lists
      .show__lists__title
        category
      .show__lists__list
        =@topp.category
    .show__lists
      .show__lists__title
        maker
      .show__lists__text
        =@topp.maker
    .show__lists
      .show__lists__title
        size
      .show__lists__text
        =@topp.size
  -if user_signed_in? && current_user.id == @topp.user_id
    .show__btns
      .show__btns__left
        Edit
      = link_to "Delete", topp_path(@topp.id), method: :delete, class: "show__btns__right"
  
 

  
